.headline {
    font-size: 2.5em;
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

.intro {
    font-size: 1.4em;
    color: maroon;
    font-style: italic;
    margin-bottom: 10px;
}

.values {
    font-size: 1.2em;
    color: green;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.history {
    font-size: 1em;
    color: chocolate;
    background-color: lightgrey;
    padding: 5px;
    border-radius: 8px;
}

.goal {
    color: darkred;
    font-size: 1.1em;
    background-color: lightblue;
    padding: 3px;
    border: 1px solid navy;
}

.team {
    color: purple;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

.promise {
    color: teal;
    font-size: 1.1em;
    font-style: oblique;
    margin-top: 10px;
    border-left: 4px solid gold;
    padding-left: 10px;
}

