/* Общие стили для контейнера слайдера */
#slider {
    position: relative;
    width: 30%; /* Уменьшите ширину, чтобы слайдер не растягивался на всю страницу */
    margin: 20px auto; /* Добавьте верхний и нижний отступы */
    background-color: #f7f7f7; /* Легкий фон для контрастности слайдов */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 2px 10px rgba(0,0,0,0.3); /* Тень для объемности */
    text-align: center;
}


/* Стили для каждого слайда */
.slide {
    display: none; /* Скрыть все слайды по умолчанию */
    width: 100%;
    height: auto; /* Высота слайда будет определяться содержимым */
    flex-direction: column; /* Элементы внутри слайда выстраиваются в колонку */
    justify-content: center; /* Вертикальное центрирование содержимого в слайде */
    align-items: center; /* Горизонтальное центрирование содержимого в слайде */

}

/* Стили для активного слайда */
.slide.active {
    display: flex;  /* Используем Flexbox для центрирования содержимого */
}


.slide img {
    max-width: 90%; /* Максимальная ширина изображения, чтобы оно не выходило за рамки слайда */
    height: auto; /* Высота изображения изменяется пропорционально, чтобы сохранить соотношение сторон */
    margin: 0 auto; /* Верхний и нижний отступы 0, автоматический отступ слева и справа для центрирования */
}

/* Стили для кнопок управления слайдером и автопроигрывания */
#toggle-slider, #autoplay-control, .prev-slide, .next-slide, #slider-buttons button {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

/* Эффект при наведении на все кнопки */
#toggle-slider:hover, #autoplay-control:hover, .prev-slide:hover, .next-slide:hover, #slider-buttons button:hover {
    background-color: #0056b3;
}

/* Стили для активной кнопки автопроигрывания */
#autoplay-control.active {
    background-color: #28a745;
}

/* Стили для кнопок выбора конкретного слайда */
#slider-buttons button {
    background-color: #6c757d; /* Отличие от основных кнопок управления */
}

/* Адаптивность слайдера */
@media only screen and (max-width: 768px) {
    #toggle-slider, #autoplay-control, .prev-slide, .next-slide, #slider-buttons button {
        font-size: 12px; /* Уменьшенный размер текста на мобильных устройствах */
        padding: 8px 12px; /* Уменьшенные отступы */
    }
}
